page-details {

    .toolbar-title{font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 1.6rem;}
    ion-icon{ color: #ffffff !important;  }
    .header .toolbar{ font-size: 1.6rem; font-weight: 400;}

    .content{ background: #f7f7f7;}
    .item-lt{ padding-left: 5px;}
    .item-lt h4{font-weight: 600; color: #000000; font-family: 'Open Sans', sans-serif;}
    .item-lt h4 .line-through{ color: #7d7d7d; text-decoration: line-through; margin-left: 16px;}
    .item-rt{ padding-left: 5px;}
    .item-rt .button-default{ height: 2.8rem; padding: 0; border-radius: 3px;}
    .item-rt .button-default .button-inner{ justify-content: space-between; padding-left: 14px; font-size: 1.4rem; font-family: 'Open Sans', sans-serif;}
    .item-rt .button-default .button-inner .icon{ background: #001a53; display: inline-block; padding: 8px; }

  
    .cart-item{ position: absolute; width: 18px; height: 18px; border-radius: 50%; color: #ffffff; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 1.2rem; background-color: #0032a0; z-index: 100; right: 0; top: 0;}


    .grid-brdr{ border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea;}
    .features{font-weight: 700 !important; font-family: 'Open Sans', sans-serif; border-bottom: 3px solid #0032a0;  width: 25%; margin-bottom: 15px;}
    .description{ color: #676767; font-weight: 400 !important; font-family: 'Open Sans', sans-serif;}

    .unit-btn{ font-weight: 400; font-family: 'Open Sans', sans-serif; color: #4d4d4d !important; font-size: 1.3rem !important; border-radius: 3px; height: 3.2rem;}
    p{font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 1.3rem !important;  margin-bottom: 5px !important;}
}
